@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto&display=swap');

#display-nasa {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -1;
}

#display-nasa img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}

#display-time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    font-family: 'Orelega One', cursive;
    font-size: 30px;
    background-color: white;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border: solid 5px black;
    border-radius: 16px;
}

#form-setting h1 {
    padding-top: 30px;
    font-size: 30px;
    font-family: 'Orelega One', cursive;
}

h2, #more-options h1 {
    font-family: 'Orelega One', cursive;
    margin-top: 10px;
    font-size: 20px;
}

#clock {
    font-size: 100px;
}

#setting {
    width: 100%;
    background-color: white;
    position: absolute;
    text-align: center;
}

#show-seconds, #show-date {
    font-family: 'Roboto', sans-serif;
}

#save-setting, #close {
    font-family: 'Orelega One', cursive;
    font-size: 18px;
    border: solid black;
    background-color: white;
    border-radius: 6px;
    margin: 20px;
}

#date {
    padding-bottom: 30px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.hide {
    display: none;
}

#setting-button {
    font-family: 'Orelega One', cursive;
    font-size: 18px;
    border: solid black;
    background-color: white;
    border-radius: 6px;
    margin: 20px;
    position: absolute;
    top: 2%;
    left: 2%;
}

#more-button {
    position: absolute;
    bottom: 2%;
    left: 2%;
    font-family: 'Orelega One', cursive;
    font-size: 18px;
    border: solid black;
    background-color: white;
    border-radius: 6px;
    margin: 20px;
}

#more-options {
    padding-top: 30px;
    margin: auto;
    bottom: 0%;
    width: 100%;
    background-color: white;
    position: absolute;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

#day-of-week, #day-of-month, #day-of-year, #week-of-year {
    padding-top: 10px;
    padding-bottom: 20px;
}

#more-section, #setting-section {
    display: grid;
    grid-template-columns: auto auto;
}

